html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: lightblue;
}

#main {
    height: 100%;
    width: 100%;
}

.mainbody{
    background-color: lightblue;
    margin: 3%
}

.display-3 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: black;
    text-align: center;
}